
<nav >
    <h3 > <a routerLink="/login-form"  routerLinkActive="active">Login</a> |  
    <a routerLink="/client-form"  routerLinkActive="active">ClientForm</a> | 
    <a routerLink="/clients-table"  routerLinkActive="active">AdminList</a> |     
    <a routerLink="/home"  routerLinkActive="active">Clients/Home</a> |     
    <a routerLink="/account-form"  routerLinkActive="active">Acc. Form</a> | 
    <!-- <a routerLink="/accounts-table"  routerLinkActive="active">Accounts Table </a> | -->
    <a routerLink="/accounts-comp"  routerLinkActive="active">Accounts</a> |
    </h3>
</nav>
