<div class="row">
        <div class="about_top col-md-4">
            <img src="../../assets/images/IMG_0171_Karmel.JPG" alt="about forest image">
            <!-- <img  src="../../assets/images/Akhziv-Pic020.jpg" alt="home sea image"> -->
        </div><!--  end col-md-6 -->
        <div class="col-md-8">
        </div><!--  end col-md-6 -->
</div>
<hr>
<h2 class="text text-center">About</h2>
<br>
    <div class="row">
        <div class="col-md-6 about_left">         
        <img src="../../assets/images/ENUN_IMG_0103.JPG" alt="about lake left side image">       
        </div><!--  end col-md-6 -->
        
        <div class="col-md-6">         
        <p>this text shows the right side of the About App</p>
        <p>the left side of the Home App should be <strong>Some Image</strong></p>        
        <p>the last or third row</p>
        </div><!--  end col-md-6 -->
    
    </div> <!--  end row -->
    <br>

