
<h2 class="text text-center">Things List</h2>
<table id="ang-table" class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>                                             
                <th>Gender</th>
                <th>Smoking</th>
                <!-- <th>Edit</th> -->
                <th>Del</th>
            </tr>
        </thead>
        <tbody>                      
            <tr *ngFor="let thing1 of usersArray; let i = index">            
                <td>{{thing1.id}}</td>
                <td>{{thing1.name}}</td>                      
                <td>{{thing1.age}}</td>
                <td>{{thing1.phone}}</td>                      
                <td>{{(thing1.gender == 1) ? "Male":"Female"}}</td>
                <td>{{ (thing1.smoking) ? "Yes":"No"}}</td>                               
                <td (click)="delThing(thing1.id)"><i class="fa fa-trash"></i></td>               
            </tr>
        </tbody>
    </table>
