<p>things works!</p>
<p>things works!</p>

<h2 class="text text-center">Things</h2>
<div class="row">
    <div class="col-md-7">                           
    <!-- <app-table [usersArray]="users1" (messageEvent)="deleteUser($event)"></app-table>        -->
    <app-things-table></app-things-table>           
    </div><!--  end col-md-7 -->         
    <div class="col-md-1">          
    </div><!--  end col-md-1 -->
    <div class="col-md-4">
    <!-- <app-add-form (messageEvent)="addUser($event)"></app-add-form>    -->
    <app-thing-form ></app-thing-form>       
    </div><!--  end col-md-4 -->
</div> <!--  end row -->
<br>
