<h2 class="text text-center">Things Home List</h2>
<table id="ang-table" class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>               
                <th>Phone</th>                                                        
            </tr>
        </thead>
        <tbody>                      
            <tr *ngFor="let thing1 of thingsHomeArray">            
                <td>{{thing1.rec_id}}</td>
                <td>{{thing1.thing_name}}</td>                                      
                <td>{{thing1.phone}}</td>                                    
            </tr>
        </tbody>
    </table>

