
<nav >
    <h3 > <a routerLink="/login-form"  routerLinkActive="active">Login</a> |  
    <a routerLink="/thing-form"  routerLinkActive="active">ThingForm</a> | 
    <a routerLink="/things-table"  routerLinkActive="active">AdminList</a> |     
    <a routerLink="/home"  routerLinkActive="active">Things/Home</a> |     
    <a routerLink="/other-form"  routerLinkActive="active">Acc. Form</a> | 
    <!-- <a routerLink="/others-table"  routerLinkActive="active">Others Table </a> | -->
    <a routerLink="/others-comp"  routerLinkActive="active">Others</a> |
    </h3>
</nav>
