<h2 class="text text-center">Add/Update Thing</h2>
<form action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" name="name" id="name" placeholder="Name.." class="form-control">
    </div>
    
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" [(ngModel)]="age" name="age" id="age" placeholder="Age.." class="form-control">
    </div>
    
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" [(ngModel)]="phone" name="phone" id="phone" placeholder="Phone.." class="form-control">
    </div>
    
    <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" id="gender" [(ngModel)]="gender" class="form-control">
            <option value=0>Choose Gender ..</option>
            <option value=1>Male</option>
            <option value=2>Female</option>
        </select>        
    </div>
    
    <div class="form-group">
        <label for="smoking">Smoking</label>
        <select name="smoking" id="smoking" [(ngModel)]="smoking" class="form-control">           
            <option value=false>No</option>
            <option value=true>Yes</option>
        </select>        
    </div>
    <input type="hidden" [(ngModel)]="id" name="id" id="uid" class="form-control">

    <div class="btn btn-primary mx-2" (click)="saveThing()">Save</div>
    <div class="btn btn-primary mx-2" (click)="updateThing()">Update</div>
    <div class="btn btn-danger mx-2" (click)="clearForm()">Clear</div>
</form>

