<!-- NAV1: simple Input & Output App -->
<!-- <nav >
    <h2 ><a routerLink="/home"  routerLinkActive="active">Home </a> |
    <a routerLink="/about"  routerLinkActive="active">About </a> | -->
    <!-- <a routerLink="/contact"  routerLinkActive="active">Contact </a> |  -->
    <!-- <a routerLink="/users"  routerLinkActive="active">Users </a> |
</h2> -->
<!-- </nav> -->

<!-- NAV2: simple Sync Func with Service App -->
<nav >
    <h2 ><a routerLink="/home"  routerLinkActive="active">Home </a> |
    <a routerLink="/about"  routerLinkActive="active">About </a> |
    <a routerLink="/add-form-sync"  routerLinkActive="active">Add Form </a> | 
    <a routerLink="/table-sync"  routerLinkActive="active">Users Table </a> | 
    <a routerLink="/test-form"  routerLinkActive="active">Test </a> |     
    </h2>
</nav>
