<div class="row">
        <div class="home_image col-md-4">
            <img  src="../../assets/images/Akhziv-Pic020.jpg" alt="home sea image">
        </div><!--  end col-md-6 -->
        <div class="col-md-8">
        </div><!--  end col-md-6 -->
</div>
<hr>
<h2 class="text text-center">My Site</h2>
<br>
    <div class="row">
        <div class="col-md-6">         
        <!-- <app-form (messageEvent)="receiveMessage($event)"></app-form> -->        
        <app-login></app-login>
        </div><!--  end col-md-6 -->
        
        <div class="col-md-6">         
        <p>this text shows the right side of the Home App</p>
        <p>the left side of the Home App should be <strong>Inner App</strong></p>        
        <p>the last row</p>
        </div><!--  end col-md-6 -->    
    </div> <!--  end row -->    
    <br>

